body {
    background-color: beige;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
    background-color: blanchedalmond;
    border: 2px solid maroon;
}

h1 {
    text-align: center;
}

.timer {
    text-align: center;
}

#description {
    text-align: center;
    padding: 1%;
}

#question {
    text-align: center;
    font-weight: bold;
}
#answer-choices {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 1% 2%;
    font-weight: bold;
    margin: 2% 15%;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#start {
    margin-left: 45%;
    margin-bottom: 1%;
}

#next {
    margin: 1%;
    float: right;
}

.hide {
    display: none;
}

.visible {
    visibility: visible;
}